#calculator {
    border: 2px solid rgb(224, 221, 221);
    width: 200px;
    border-radius: 5px;
}

#display {
    margin: 10px;
    width: 85%;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    width: 45px;
    height: 45px;
    margin: 5px;
}