#calculator {
    border: 2px solid rgb(196, 195, 195);
    border-radius: 5px;
    width: 200px
}

#dispaly {
    margin: 10px;
    width: 85%;
    font-size: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    width: 45px;
    height: 45px;
    margin: 5px;
}